.container,
.footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.hero {
    background: url('../img/angus-banner.webp') no-repeat center  / cover;
    color: #333;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    height: 550px;
    width: 100%;
}

.cover {
    background-color: #EDEDED;
    backdrop-filter: blur(3px);
    border-radius: 8px;
    margin: 24px;
    max-width: 500px;
    padding: 24px;
}

.resources {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2rem;
}

.flex,
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    justify-content: center;
    h2,
    p:first-of-type {
        grid-column: 1 / -1;
    }
}

.cats {
    grid-column: 1 / -1;
    align-self: start;
    gap: 1rem;
}
