h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.5rem;
}

p, a {
    font-family: "Open Sans", sans-serif;
}